html, body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  color: white;
  background-color: black;
  padding: 5px;
}

canvas {
  display: flex;
  max-width: 90vw;
  max-height: 90vh;
}

header {
  background-color: black;
}

li {
  list-style: none;
  display: inline;
  padding: 8px;
}

.header-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* JUST PUT A BLACK BORDER AROUND THE FUCKING GIF!!!!!!!!*/


.mankissGIF {
  display: flex;
  justify-content: center;
  z-index: 1;
  margin: auto;
  margin-top: 116px;
  position: absolute;
  width: 56%;
}

#content-container {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#links {
  display: flex;
  justify-content: right;
  padding: 5px
}

#footer {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}